In [120]:
import pandas as pd
import numpy as np

In [121]:
df = pd.read_csv('/content/1.4 e_titanic.csv')

In [122]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [123]:
# Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.
res = (df['Sex'].value_counts().iloc[0], df['Sex'].value_counts().iloc[1])

In [29]:
with open('result1_1.txt', 'w') as fp:
    fp.write(str(df['Sex'].value_counts().iloc[1]) + ' ' + str(df['Sex'].value_counts().iloc[0]))

In [ ]:
# Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров.
# Ответ приведите в процентах (знак процента не нужен).

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [125]:
round(df['Survived'].sum() / len(df) * 100, 2)

38.38

In [46]:
with open('result1_2.txt', 'w') as fp:
    fp.write(str(round(df['Survived'].sum() / len(df) * 100, 2)))

In [126]:
# Какую долю пассажиры первого класса составляли среди всех пассажиров?
#  Ответ приведите в процентах (знак процента не нужен).
round(df[df['Pclass'] == 1]['Pclass'].count()/ len(df) * 100, 2)

24.24

In [47]:
with open('result1_3.txt', 'w') as fp:
    fp.write(str(round(df[df['Pclass'] == 1]['Pclass'].count() / len(df) * 100, 2)))

In [127]:
# Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров.
# В поле ответа введите два числа через пробел.
df['Age'].mean(), df['Age'].median()

(29.69911764705882, 28.0)

In [51]:
with open('result1_4.txt', 'w') as fp:
    fp.write(str(round(df['Age'].mean(), 2)) + ' ' + str(round(df['Age'].median(), 2)))

In [128]:
# Коррелируют ли число братьев/сестер/супругов с числом родителей/детей?
# Посчитайте корреляцию Пирсона между признаками SibSp и Parch.
df[['SibSp' , 'Parch']].corr().iloc[1, 0]

0.41483769862015624

In [56]:
with open('result1_5.txt', 'w') as fp:
    fp.write(str(round(df[['SibSp' , 'Parch']].corr().iloc[1, 0], 2)))

In [129]:
# Какое самое популярное женское имя на корабле? Извлеките
# из полного имени пассажира (колонка Name) его личное имя (First Name).
names = np.array(df['Name'][df['Sex'] == 'female'])

In [130]:
res = {}
for name in names:
  if 'Miss' in name:
    first_name = name.split('Miss. ')[1].split()[0]
  elif 'Mrs' in name:
    try:
      first_name = name.split('(')[1].split()[0]
    except  IndexError:
      firsst_name = name.split('Mrs. ')[1].split()[0]

  if first_name in res:
    res[first_name] += 1
  else:
    res[first_name] = 1

In [131]:
sorted_by_values_desc = dict(sorted(res.items(), key=lambda item: item[1], reverse=True))
print(sorted_by_values_desc)

{'Anna': 14, 'Mary': 13, 'Elizabeth': 11, 'Margaret': 10, 'Maria': 6, 'Alice': 6, 'Bertha': 5, 'Helen': 5, 'Annie': 5, 'Ellen': 4, 'Marie': 4, 'Augusta': 4, 'Emily': 4, 'Ada': 4, 'Jane': 4, 'Florence': 3, 'Elisabeth': 3, 'Lillian': 3, 'Edith': 3, 'Katherine': 3, 'Madeleine': 3, 'Amelia': 3, 'Hanora': 3, 'Kate': 3, 'Catherine': 3, 'Ida': 3, 'Stella': 3, 'Lily': 2, 'Adele': 2, 'Emelia': 2, 'Johanna': 2, 'Dorothy': 2, 'Bridget': 2, 'Constance': 2, 'Mabel': 2, 'Susan': 2, 'Mathilde': 2, 'Marjorie': 2, 'Hanne': 2, 'Helene': 2, 'Agnes': 2, 'Clara': 2, 'Marion': 2, 'Elsie': 2, 'Rosalie': 2, 'Jessie': 2, 'Marija': 2, 'Lucile': 2, 'Esther': 2, 'Ethel': 2, 'Charlotte': 2, 'Martha': 2, 'Amy': 2, 'Saiide': 2, 'Laina': 1, 'Marguerite': 1, 'Hulda': 1, 'Torborg': 1, 'Selma': 1, 'Jamila': 1, 'Simonne': 1, 'Josefine': 1, 'Myna': 1, 'Amelie': 1, 'Erna': 1, 'Brigdet': 1, 'Matilda': 1, 'Hileni': 1, 'Katriina': 1, 'Malake': 1, 'Ellis': 1, 'Grace': 1, 'Sultana)': 1, 'Elin': 1, 'Robina': 1, 'Eleanor': 1, 'Ann': 1, 'Luise': 1, 'Rosa)': 1, 'Carla': 1, 'Elise': 1, 'Henriette': 1, 'Telma': 1, 'Clear': 1, 'Eliina': 1, 'Albina': 1, 'Irene': 1, 'Thamine': 1, 'Agda': 1, 'Anna)': 1, 'Elna': 1, 'Helena': 1, 'Gladys': 1, 'Lutie': 1, 'Delia': 1, 'Kornelia': 1, 'Rosa': 1, 'Aloisia': 1, 'Nora': 1, 'Laura': 1, 'Helmina': 1, 'Miriam': 1, 'Margaretta': 1, 'Hilda': 1, 'Sylvia': 1, 'Jean': 1, 'Mantoura': 1, 'Stina': 1, 'Leila': 1, 'Aurora': 1, 'Elina': 1, 'Mari': 1, 'Daisy': 1, 'Lulu': 1, 'Lyyli': 1, 'Catharina': 1, 'Doolina': 1, 'Marion)': 1, 'Hildur': 1, 'Hedwig)': 1, 'Jeannie': 1, 'Bessie': 1, 'Kristina': 1, 'Roberta': 1, 'Anne': 1, 'Lucy': 1, 'Phyllis': 1, 'Eva': 1, 'Hedwig': 1, 'Harriet': 1, 'Ingeborg': 1, 'Sigrid': 1, 'Velin': 1, 'Lucille': 1, 'Tillie': 1, 'Emma)': 1, '(Marion': 1, 'Alma': 1, 'Julie': 1, 'Marian': 1, 'Ruth': 1, 'Juliette': 1, 'Alfrida': 1, 'Cordelia': 1, 'Gretchen': 1, 'Margit': 1, 'Eugenie': 1, 'Catherine)': 1, 'Juliet': 1, 'Katie': 1, 'Georgette': 1, 'Manca': 1, '"Mrs': 1, 'Caroline': 1, 'Edwina': 1, 'Margareth': 1, 'Pieta': 1, 'Joan': 1, 'Mary)': 1, 'Eliza': 1, 'Virginia': 1, 'Banoura': 1, 'Vera': 1, 'Ebba': 1, 'Wendla': 1, 'Beila)': 1, 'Selini': 1, 'Sara': 1, 'Edwiga': 1, 'Nourelain': 1, 'Lilian': 1, 'Leah': 1, 'Latifa': 1, 'Karolina)': 1, 'Asuncion': 1, 'Sallie': 1, 'Hannah': 1, 'Imanita': 1, 'Gerda': 1}

In [119]:
with open('result1_6.txt', 'w') as fp:
  fp.write(max(res, key=res.get))